body {
    font-family: Calibri;
    background-color: #faf9f9;
    width: 1200px; /* Chiều rộng trang */
    margin: auto; /* Giữa trang */
}

.header {
    background-color: #ff5722;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header img {
    vertical-align: middle;
    height: 70px; /* Điều chỉnh chiều cao của logo */
}

.header h1 {
    display: inline-block; /* Căn giữa tiêu đề với logo */
    margin-left: 10px; /* Khoảng cách giữa logo và tiêu đề */
    font-size: 36px; /* Kích thước chữ tiêu đề */
}

.header-buttons {
    display: flex;
    gap: 5px;
}

.login-btn, .signup-btn {
    background-color: white;
    color: #ff5722;
    border-color:#ff5722;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #ff5722;
    color: white;
    transition: 0.3s;
    border-color: white;
}
.search-bar {
    margin: 10px auto;
    max-width: 800px;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
}

.search-bar input[type="text"] {
    width: 600px;
    padding: 5px;
    height: 30px;
    font-size: 16px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    height: 36px;
    background-color: #ff5722;
    color: white;
    border-color: #ff5722;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.products {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 sản phẩm mỗi hàng */
    gap: 5px; /* Khoảng cách giữa các sản phẩm */
}

.category-img,
.product-card img {
    width: 60%; /* Chiều rộng 100% để hình ảnh chiếm toàn bộ không gian ô */
    height: auto; /* Chiều cao tự động để giữ tỉ lệ */
    padding-top: 8px;
    display: block;
    margin: 10px auto;
}

.product-card h3 {
    font-size: 18px; /* Giảm kích thước tiêu đề sản phẩm */
    margin: 5px 0; /* Giảm khoảng cách */
    font-weight: 600;
}

.product-card dis {
    font-size: 14px;
}
.product-card p {
    margin: 5px 0;
}

.product-card {
    background-color: white;
    width: 180px; /* Giảm chiều rộng của ô sản phẩm */
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    overflow: hidden; /* Ẩn phần hình ảnh ra ngoài ô */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng hover */
}

.old-price {
    font-size: 14px; /* Kích thước chữ nhỏ hơn cho giá cũ */
    color: #aaa; /* Màu xám nhạt cho giá cũ */
    text-decoration: line-through; /* Gạch ngang cho giá cũ */
}

.new-price {
    font-weight: 500; /* Đậm cho giá mới */
    color: #333; /* Màu tối */
    font-size: 16px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 300;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.category {
    padding: 10px; /* Giảm kích thước ô danh mục */
    background-color: white;
    text-align: center;
    width: 180px; /* Giảm chiều rộng của ô danh mục */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden; /* Ẩn phần hình ảnh ra ngoài ô */
    border-radius: 10px; /* Bo góc cho ô danh mục */
    transition: box-shadow 0.3s ease; /* Hiệu ứng chuyển tiếp cho bóng */
    margin: 5px;
}

.category:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng khi di chuột */
}

.category-title,
.product-title {
    text-align: center;
    margin: 20px 0;
    padding-top: 10px;
}

.category-title h2,
.product-title h2 {
    font-size: 26px; /* Giảm kích thước chữ nhỏ hơn */
    color: #555; /* Màu xám đậm */
    font-weight: 500;
    
}

.category h3 {
    font-size: 18px;
    font-weight: 600;
}


