{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        {% block style %}{% endblock style %}
       <link rel="stylesheet" href=" {% static "bootstrap/css/bootstrap.min.css" %} ">
       <link rel="stylesheet" href="{% static 'css/index.css' %}">
       <link rel="stylesheet" href="{% static 'css/productDetail.css' %}">
       {% comment %} <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
    </head>
    <body>
        {% include "components/header.html" %}
        
        {% block content %}

        {% endblock content%}
        
        {% include "components/footer.html" %}
       <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="read_product.js"></script> 

        {% block script %}{% endblock script %}
    </body>
</html>
