{% extends "layout/myLayout.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" href="{% static "/css/feedback.css" %}">
{% endblock addHead %}




{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Contact</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Contact</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center container mt-5">
                        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
                            <div class="about-product text-center mt-2"><img
                                    src="{{order.item.product.productImage.url}}" width="300">
                                <div>
                                    <h4>{{order.item.product.productName}}</h4>
                                    <h6 class="mt-0 text-black-50">{{order.item.product.shortDescription}}</h6>
                                </div>
                            </div>
                            <div class="stats mt-2">
                                <div class="d-flex justify-content-between p-price"><span>
                                        Size</span><span>{{order.item.size.sizeName}}</span></div>
                                <div class="d-flex justify-content-between p-price"><span>
                                        Quantity</span><span>{{order.itemQuantity}}</span></div>
                                <div class="d-flex justify-content-between p-price"><span>
                                        Shipping fee</span><span>{{order.item.product.shippingFee}}VND</span></div>
                                <div class="d-flex justify-content-between p-price"><span>
                                        Order Date</span><span>{{order.orderDate}}</span></div>
                            </div>
                            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                <span>Total</span><span>{{order.getTotal}}VND</span></div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="container-fluid contact py-5">
                <div class="container py-5">
                    <div class="p-5 bg-light rounded">
                        <div class="row g-4">
                            
                            <div class="col-lg-7">
                                <form class="rating">
                        
                                    <label>
                                        <input type="radio" name="stars" value="1" />
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="2" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="3" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="4" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="5" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                </form>
                                <form action="" class="">
                                    {% comment %} <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name">
                                    <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email"> {% endcomment %}
                                    <textarea class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message" name="comment"></textarea>
                                    <button id="submit" class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="button">Submit</button>
                                    <input type="hidden" id = "product_id" name="product_id" value={{order.item.product.productID}}>
                                    <input id="order_id" type="hidden" name="order_id" name="order_id" value={{order.orderID}}>
                                </form>
                            </div>
                            <div class="col-lg-5">
                                <div class="d-flex p-4 rounded mb-4 bg-white">
                                    <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Address</h4>
                                        <p class="mb-2">123 Street New York.USA</p>
                                    </div>
                                </div>
                                <div class="d-flex p-4 rounded mb-4 bg-white">
                                    <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Mail Us</h4>
                                        <p class="mb-2">info@example.com</p>
                                    </div>
                                </div>
                                <div class="d-flex p-4 rounded bg-white">
                                    <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Telephone</h4>
                                        <p class="mb-2">(+012) 3456 7890</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
    </div>
</div>
</div>
</div>
<!-- Contact End -->

{% endblock content %}

{% block addScript %}

<script src="{% static "/js/feedback.js" %}"></script>

{% endblock addScript %}