{% extends "components/base.html" %}
{% load static %}

{% block title %}Trang Chủ - Easy Shopping{% endblock title %}

{% block content %}
<div class="category-title">
    <h2>Product Categories</h2>
</div>

<div class="categories">
    <div class="category" onclick="window.location.href='{% url 'categoryProducts' categoryID=1 %}'">
        <img src="{% static 'images/tee.png' %}" alt="Tees" class="category-img">
        <h3>T-shirt</h3>
    </div>
    <div class="category" onclick="window.location.href='{% url 'categoryProducts' categoryID=2 %}'">
        <img src="{% static 'images/pants.png' %}" alt="Pants & Jeans" class="category-img">
        <h3>Trouser</h3>
    </div>
    <div class="category" onclick="window.location.href='{% url 'categoryProducts' categoryID=3 %}'">
        <img src="{% static 'images/dress.png' %}" alt="Dress" class="category-img">
        <h3>Dress</h3>
    </div>
    <div class="category" onclick="window.location.href='{% url 'categoryProducts' categoryID=4 %}'">
        <img src="{% static 'images/shoes.png' %}" alt="Shoes" class="category-img">
        <h3>Sneaker</h3>
    </div>
    <div class="category" onclick="window.location.href='{% url 'categoryProducts' categoryID=5 %}'">
        <img src="{% static 'images/handbag.png' %}" alt="Bags" class="category-img">
        <h3>Bag</h3>
    </div>
</div> 

<div class="product-title">
    <h2>Recommended for you</h2>
</div>

    <section class="products">
        <div class="product-grid">
            {% for product in products %}
                {% comment %} <a href="{% url "product-detail" productID=product.productID %}"> {% endcomment %}
                    <div class="product-card">
                        <img src="{{product.productImage.url}}" alt="{{product.productName}}">
                        <h3>{{product.productName}}</h3>
                        <p class="old-price"> {{product.price}} VND</p>
                        <p class="new-price"> Price: {{product.getNewPrice}} VND</p>
                        <dis>Discount: {{product.discount}}%</dis>
                    </div>
                {% comment %} </a> {% endcomment %}
            {% endfor %}
        </div>
    </section>

    {% block content %}{% endblock content %}
