{% extends "layout/myLayout.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" href="{% static '/css/product-detail.css' %}">
{% endblock addHead %}



{% block content %}
<div id='buffer'></div>
<!-- content -->
<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{product.productImage.url}}" />
            </a>
          </div>
         
          
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{product.productName}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  {{rating}}
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{totalSale}} sold</span>
              <span class="text-success ms-2">In stock</span>
            </div>
  
            <div class="mb-3">
              <span class="h5">${{product.price}}</span>
              <span class="text-muted"></span>
            </div>
  
            <p>
              {{product.description}}
            </p>
  
            {% comment %} <div class="row">
              <dt class="col-3">Type:</dt>
              <dd class="col-9">Regular</dd>
  
              <dt class="col-3">Color</dt>
              <dd class="col-9">Brown</dd>
  
              <dt class="col-3">Material</dt>
              <dd class="col-9">Cotton, Jeans</dd>
  
              <dt class="col-3">Brand</dt>
              <dd class="col-9">Reebook</dd>
            </div> {% endcomment %}
  
            <hr />
            <form action="" id="productForm" >
              {% csrf_token %}
              <!-- Add a hidden element that contains the checkout URL -->
              {% comment %} <input type="hidden" id="checkoutURL" value="{% url 'checkout' %}"> {% endcomment %}

              <input type="hidden" value={{product.productID}} name="productID">
              <div class="row mb-4">
                <div class="col-md-4 col-6">
                  <label class="mb-2">Size</label>
                  <select class="form-select border border-secondary" style="height: 35px;" name="size">
                    {% for i in product.items.all %}
                      <option value={{i.size.sizeID}}>{{i.size.sizeName}}</option>  
                    {% endfor %}
                    
                    
                  </select>
                </div>
                <!-- col.// -->
                <div class="col-md-4 col-6 mb-3">
                  <label class="mb-2 d-block">Quantity</label>
                  <div class="input-group mb-3" style="width: 170px;">
                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input id="quantityInput" name="quantity" type="text" class="form-control text-center border border-secondary" value=1 aria-label="Example text with button addon" aria-describedby="button-addon1" />
                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

            </form>
            
            {% comment %} <a href="#" id="buyNow" class="btn btn-warning shadow-0"> Buy now </a> {% endcomment %}

            <a id="addToCart" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
            {% comment %} <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a> {% endcomment %}
          </div>
        </main>
        <div class="col-lg-12">
          <nav>
              <div class="nav nav-tabs mb-3">
                  <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                      id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                      aria-controls="nav-about" aria-selected="true">Description</button>
                  <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                      id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                      aria-controls="nav-mission" aria-selected="false">Reviews</button>
              </div>
          </nav>
          <div class="tab-content mb-5">
              <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                  <p>The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc. 
                      Susp endisse ultricies nisi vel quam suscipit </p>
                  <p>Sabertooth peacock flounder; chain pickerel hatchetfish, pencilfish snailfish filefish Antarctic 
                      icefish goldeye aholehole trumpetfish pilot fish airbreathing catfish, electric ray sweeper.</p>
                  <div class="px-2">
                      <div class="row g-4">
                          <div class="col-6">
                              <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                  <div class="col-6">
                                      <p class="mb-0">Weight</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="mb-0">1 kg</p>
                                  </div>
                              </div>
                              <div class="row text-center align-items-center justify-content-center py-2">
                                  <div class="col-6">
                                      <p class="mb-0">Country of Origin</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="mb-0">Agro Farm</p>
                                  </div>
                              </div>
                              <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                  <div class="col-6">
                                      <p class="mb-0">Quality</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="mb-0">Organic</p>
                                  </div>
                              </div>
                              <div class="row text-center align-items-center justify-content-center py-2">
                                  <div class="col-6">
                                      <p class="mb-0">Сheck</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="mb-0">Healthy</p>
                                  </div>
                              </div>
                              <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                  <div class="col-6">
                                      <p class="mb-0">Min Weight</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="mb-0">250 Kg</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                {% for r in review|slice:":2" %}
                <div class="d-flex">
                    <img src="{{r.user.userImage.url}}" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                    <div class="">
                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                        <div class="d-flex justify-content-between">
                            <h5>{{r.user.full_name}}</h5>
                            {% comment %} <div class="d-flex mb-3">
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star"></i>
                            </div> {% endcomment %}
                        </div>
                        <p>{{ r.comment }}</p>
                    </div>
                </div>
            {% endfor %}
            
                  
                  
              </div>
              <div class="tab-pane" id="nav-vision" role="tabpanel">
                  <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                      amet diam et eos labore. 3</p>
                  <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                      Clita erat ipsum et lorem et sit</p>
              </div>
          </div>
      </div>    
      </div>
    </div>

    

  </section>
  <!-- content -->


  {% endblock content %}

  {% block addScript %}
  <script src=" {% static "/js/product-detail.js" %} "></script>
  {% endblock addScript %}