{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.full_name}}</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="main">
        <div class="sectionOne">
            <div class="sectionOne">
                <div class="content">
                    <div class="iconName">
                        <i class="fas fa-user-circle icon"></i>
                        <div class="name">{{user.last_name}}</div>
                    </div>
                    <div class="iconOrders">
                        <i class="fas fa-shopping-basket icon"></i>
                        <a class="name" href="#">Đơn mua</a>
                    </div>
                    <div class="iconCart">
                        <i class="fas fa-shopping-cart icon"></i>
                        <a class="name" href="{% url "cart" %}">Giỏ hàng</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="sectionTwo">
            <div class="contentWrap">
                <div class="title">
                    <h1 class="titleOne">Hồ sơ của tôi</h1>
                    <div class="titleTwo">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
                </div>
                <div class="content">
                    {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="contentProfile">
                            <div class="imageEdit">
                                <div class="innerWrap">
                                    <div class="image">
                                        <img id="previewImage" src="{{user.userImage.url}}" alt="Ảnh đại diện" class="iconImage">
                                        <input type="file" accept=".jpg, .jpeg, .png" id="imageInput" name="imageInput" style="display: none;">
                                        <button type="button" class="selectImage">
                                            <span>Choose file</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="profileEdit">
                                <table class="table">
                                    <tr>
                                        <td class="label">
                                            <label>Full Name</label>
                                        </td>
                                        <td>
                                            <input type="text" name="full_name" placeholder="Full Name" value="{% if user.full_name != ' ' %}{{ user.full_name }}{% endif %}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label>Email</label>
                                        </td>
                                        <td>
                                            <input type="text" name="email" placeholder="Email" value="{{user.email}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label>Phone Number</label>
                                        </td>
                                        <td>
                                            <input type="text" name="phone" placeholder="Phone Number" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label>Gender</label>
                                        </td>
                                        <td>
                                            <div class="genderTick">
                                                <div class="tick">
                                                    <input type="radio" name="gender" value="Male" id="male" {% if user.gender == 'Male' %}checked{% endif %}>
                                                    <label for="male">Male</label>
                                                </div>
                                                <div class="tick">
                                                    <input type="radio" name="gender" value="Female" id="female" {% if user.gender == 'Female' %}checked{% endif %}>
                                                    <label for="female">Female</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label>Date Of Birth</label>
                                        </td>
                                        <td>
                                            <div class="dateInputs">
                                                <input class="dateOfBirth" type="text" name="day" placeholder="Day" value="{{user.dateOfBirth.day}}">
                                                <input class="dateOfBirth" type="text" name="month" placeholder="Month" value="{{user.dateOfBirth.month}}">
                                                <input class="dateOfBirth" type="text" name="year" placeholder="Year" value="{{user.dateOfBirth.year}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            <label>Address</label>
                                        </td>
                                        <td>
                                            <input type="text" name="address" placeholder="Adress" value="{% if user.address %}{{ user.address }}{% endif %}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="saveAll">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>

    <script>
        document.querySelector('.selectImage').addEventListener('click', function() {
            document.getElementById('imageInput').click();
        });

        document.getElementById('imageInput').addEventListener('change', function(event) {
            const preview = document.getElementById('previewImage');
            const file = event.target.files[0];
        
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result; 
                };
                reader.readAsDataURL(file);
            }
        });        
    </script>
</body>

</html>