<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mã QR Thanh Toán</title>
</head>
<body>
    {% include "components/header.html" %}
    {% for message in messages %}
        <h5>{{message}}</h5>
    {% endfor %}
    <h2>Mã QR Thanh Toán</h2>
    <p>Tổng số tiền: {{ totalAmount }}</p>

    <div class="qr-code">
        <img src="data:image/png;base64,{{ qr_base64 }}" alt="QR Code" style="width: 200px; height: auto;">
    </div>

    <form id="qr-form" action="{% url 'scan' %}" method="post">
        {% csrf_token %}
        <input type="text" name="qrInput" placeholder="Nhập mã QR" required>
        <button type="submit">Xác nhận</button>
    </form>
    {% include "components/footer.html" %}
</body>
</html>
